.dark {
  html,
  body {
    background-color: #1a191d;
  }

  --el-color-primary: #025a4e;
  --my-button_hover_bg: #4c6763;
  --my-button_hover_border: #4c6763;
  --my-button_active_bg: #025a4e;
  --my-button_active_border: #025a4e;
  --my-input_focus_border: #025a4e;

  --my-header_bg: #25242a;
  --my-header_item_bg: #2d2c32;
  --my-header_text: #66d9ed;
  --my-header_decor: #d094e5;
  --my-header_sep: #d094e5;
  --my-header_theme: #4c6763;
  --my-header_theme_hover: #4c6763;

  --my-about_name: #025a4e;
  --my-about_msg: #4c6763;
  --my-about_lan: #000000;

  --my-ex_title: #025a4e;
  --my-ex_contant_border: #025a4e;
  --my-ex_text_h3: #7c7c7c;
  --my-ex_underline_1: #df058d;
  --my-ex_contant_msg_border: #7c7c7c;

  --my-resume_title: #025a4e;
  --my-collapse_color: #ffffff;
  --my-collapse_bg: #025a4e;
  --my-collapse_wrap_bg: #4c6763;
  --my-collapse_border: #025a4e;

  --my-project_title: #025a4e;
  --my-card_title: #ffffff;
  --my-card_msg: #ffffff;
  --my-card_back: #025a4e;

  --my-contact_title: #025a4e;
}
