.dark {
  html,
  body {
    background-color: #1a191d;
  }
  --my-header_bg: #25242a;
  --my-header_item_bg: #2d2c32;
  --my-header_decor: #e2b8ff;
  --my-header_text: #66d9ed;
  --my-header_sep: #e2b8ff;
}
