:root {
  html,
  body {
    background-color: #ede7de;
  }
  --my-header_bg: #f4f1eb;
  --my-header_item_bg: #faf8f6;
  --my-header_decor: #d094e5;
  --my-header_text: #4c6763;
  --my-header_sep: #d094e5;
}
