.header_language {
  cursor: pointer;
}
.bracket {
  transition: all 0.3s ease;
  display: inline-block;
}
.header_language:hover .bracket.left {
  transform: translateX(-0.5rem);
}
.header_language:hover .bracket.right {
  transform: translateX(0.5rem);
}
@keyframes printText {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.print_text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.header_language:hover .print_text {
  animation: printText 0.2s steps(2) forwards;
}
